<!DOCTYPE html>
<html>
<head>
    <title>Newstate-Psychology</title>
    <meta charset="utf-8">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <!-- Custom CSS -->
    <link href="/stylesheets/scrolling-nav.css" rel="stylesheet">
    <!-- Custom myCSS -->
    <link href="/stylesheets/myCSS.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="javascripts/jquery.easing.min.js"></script>
    <script src="javascripts/scrolling-nav.js"></script>
  </head>

  <!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <!--Logo-->
          <a href="#" class="pull-left"><img src="/images/new-state-psyc.jpg"></a>
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav pull-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                      <a href="/">English</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                      <h1>Bienvenue à NewState Psychologie</h1>
                      <p>Notre objectif au Newstate psychologie, est de vous donner les moyens en tant qu'individu, si un adolescent, un adulte ou dans une relation. Nous concentrons notre attention sur non seulement vous aider à surmonter les expériences émotionnelles douloureuses, mais aussi par la validation et la promotion de vos ressources internes, vous permettant ainsi de réaliser votre plein potentiel.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading">Services</h2>
                        <h3 class="section-subheading text-muted">We provide services in three core areas.</h3>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                      <span class="psychotherapy-icon">
                        <img src="/images/psychotherapy.jpg" alt="psycho-icon" style="width:180px;height:180px;">
                      </span>
                       <h4 class="service-heading"><strong>Psychotherapy</strong></h4>
                        <p class="text-muted">Our therapeutic approach is eclectic, based on psychodynamic, Humanistic, Cognitive and Behaviorial theories and Positive Psychology according to our appreciation of the situation in presence.</p>

                        <!-- Psychotherapy modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-1" data-whatever="Psy">Learn more</button>

                        <div class="modal fade bs-example-modal-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                          <div class="modal-dialog modal-1">
                            <div class="modal-content" align="left">
                                                <p align="center">
                                                <strong><u>Psychotherapy</u></strong>
                                                <p align="center">How long will treatment last?
                                                </p>
                                                <p>This is the most frequent question. Treatment can be short-term (less than 10 sessions for recent or symptoms that are not too invalidating in the patient's daily life) or long-term (several months for deeply-rooted or particularly invalidating symptoms). Sessions can be programmed once or several times a week if judged necessary. The duration and intensity of treatment depend fundamentally on the severity of the patient's difficulties and his/her commitment to therapy.
                                                </p>
                                                <p align="center">
                                                What is an eclectic approach?
                                                </p>
                                                <p>More importantly than an actual psychotherapeutic technique, it is the quality of the relationship developed between the therapist and the patient that is an influential factor in successful treatment. This relationship is fundamentally based on trust. On one hand, the patient ought to feel comfortable enough to share intimate information with the therapist because he/she is assured of the total confidentiality of the exchange. On the other hand, the therapist, in addition to developing and maintaining the good quality of the relationship with his/her patient, uses specific techniques (validated through scientific research in Psychotherapy) aiming at relieving the patient's symptoms.
                                                </p>
                                                <p>Having been trained in several theoretic backgrounds, we choose to have an eclectic approach according to the needs of the patient and the situation exposed to us. This allows us to be flexible while adjusting to the patient. Very broadly, we rely on the following three primary theoretical approaches:
                                                </p>
                                                <p>The Psychodynamic approach, based on life experiences and emotional feelings tracing back to the patient's childhood is particularly effective to reveal unconscious content of a patient's psyche, allowing them to understand some of their recurrent problematic states of mind and helping them to develop their capacity to face difficult or unexpected emotional situations.
                                                </p>
                                                <p>The Humanistic approach emphasizes on the "hic et nunc" (here and now), concentrating on the patient's current interactions in order to reveal situations in which these can be problematic and cause them pain or maladjustment in social situations. The ultimate aim is to help the patient achieve his full potential through self-actualisation and creativity.
                                                </p>
                                                <p>Lastly, the Cognitive-behaviorist approach is used when working with a patient on Assertiveness and Positive Psychology. It focuses on the patient's erroneous cognitions (what you know) and maladaptive behaviors (what you do) with a goal to modify and improve their emotional experience which is at the origin of their difficulties.
                                                </p>
                                                <p>We follow a strict code of ethics, based on the French Code de Déontologie des Psychologues. Confidentiality is of the utmost importance in our professional practice.
                                                </p>
                            </div>
                          </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                          <span class="hypnotherapy-icon">
                            <img src="/images/hypnotherapy.jpg" alt="hypnotherapy-icon" style="width:180px;height:180px;">
                          </span>
                        <h4 class="service-heading"><strong>Hypnotherapy</strong></h4>
                        <p class="text-muted">We adjust to every patient's needs and may offer hypnotherapy (therapeutic hypnosis) if we feel this approach will be of benefit to them.</p>
                        <br>
                        <!-- Hypnotherapy modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-2">Learn more</button>

                        <div class="modal fade bs-example-modal-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                          <div class="modal-dialog modal-2">
                            <div class="modal-content" align="left">
                              <p align="center">
<strong><u>Hypnotherapy</u></strong>
<strong></strong>
</p>
<p>
We adjust to every patient's needs and may offer hypnotherapy (therapeutic hypnosis) if we feel this approach will be of benefit to them. Among the many
schools of psychotherapy, hypnotherapy stands out for various reasons:
<br/>
<br/>
<br/>
</p>
<ul type="disc">
<li>
It combines the access to unconscious mental processes, obtained through the hypnotic state, and the possibility to take action on those processes
while in this modified state of consciousness. This method is particularly interesting as it is a<strong><u>brief therapy</u></strong>: the person only
needs a limited number of sessions before he/she can start to feel the effect of the intervention, which is not the case in most other types of
therapy. It is possible to treat light to moderate psychological issues without a deep root cause in less than 5 sessions. For moderate to more severe
issues or to treat problems that have been with the person most of their life, they may consider to spend at least 5-10 sessions.
</li>
</ul>
<ul type="disc">
<li>
Hypnotherapy is particularly useful to treat        <strong>anxiety-related issues, stress, stuttering, tobacco addiction, some phobias, weight loss, migraines, trauma</strong> etc… It can also be used
to treat <strong>lack of confidence, exam preparation, an important decision to make</strong> etc…
</li>
</ul>
<ul type="disc">
<li>
Any problem involving a person’s mind or emotions can be relieved through therapeutic hypnosis. However, physical impairment is not an indication for
hypnotherapy, except as a psychological support method when combined with a medical approach.
</li>
</ul>
<p>
<br/>
Hypnotherapy is indicated for <strong>children, adolescents, adults and couples</strong>.
<br/>
<br/>
We follow a strict code of ethics, based on the French
<strong>
<a href="http://www.newstatepsychology.com/uploads/3/4/9/5/3495989/code_de_deontologie_des_psychologues_de_mars_1996.pdf" title="">
Code de Déontologie des Psychologues
</a>
</strong>
. Confidentiality is of the utmost importance in our professional practice.
</p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <span class="positive-parenting-icon">
                        <img src="/images/positive-parenting.jpg" alt="postive-parenting-icon" style="width:180px;height:180px;">
                      </span>
                        <h4 class="service-heading"><strong>Positive Parenting</strong></h4>
                        <p class="text-muted">The Triple P – Positive Parenting Program® is one of the world’s most effective parenting programs.</p>
                        <br>
                        <br>
                        <!-- Positive Parenting modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-3">Learn more</button>

                        <div class="modal fade bs-example-modal-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                          <div class="modal-dialog modal-3">
                            <div class="modal-content" align="left">
                              <p align="center">
                                  <strong><u>Positive Parenting</u></strong>
                                  <br/>
                                  <br/>
                                  <br/>
                                  The <strong><u><a href="http://www.triplep-parenting.net/glo-en/home/" title="">Triple P – Positive Parenting Program®</a></u></strong> is one of the
                                  world’s most effective parenting programs.
                                  <br/>
                                  <br/>
                                  It is one of the few programs based on evidence from ongoing scientific research, with more than 90 trials and studies around the world showing it works
                                  ­-- regardless of a family’s culture, country or situation.
                                  <br/>
                                  <br/>
                                  Triple P works by giving parents the skills to raise confident, healthy children and teenagers, and to build stronger family relationships. It also helps
                                  parents manage misbehaviour and prevent problems occurring in the first place.
                                  <br/>
                                  <br/>
                                  But it doesn’t tell people how to parent. Rather, it gives them simple and practical strategies they can adapt to suit their own values, beliefs and needs.
                                  <br/>
                                  <br/>
                                  Triple P is also different because it is not ‘one size-fits-all’. It’s a system that offers increasing levels of support to meet parents’ different needs.
                                  So parents can choose anything from one-off public seminars or self-help books to more detailed group courses or individual sessions.
                                  <br/>
                                  <br/>
                                  Triple P is now used in 25 countries including the USA, England, France, Scotland, Ireland, Wales, Canada, Australia, New Zealand, Belgium, Sweden,
                                  Germany, Japan, Iran, Hong Kong, Singapore, the Netherlands, Curacao, Switzerland and Romania. It has been translated into more than 20 languages.
                              </p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!-- About Section -->
            <section id="about" class="about-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>About</h1>
                        </div>
                        <br /><br />
                        <br /><br />
                        <br /><br />
                        <div class="row">
                        <div class="col-md-4">
                          <span class="maggie-icon">
                            <img src="/images/maggie.png" alt="maggie-icon" style="height:250px;">
                          </span>
                        </div>

                        <div class="col-md-8">
<div align="left">
                            <p><strong style=""><font size="5">Maggy Dalmat</font><br />Clinical Psychologist, Psychotherapist</strong> and <strong>Hypnotherapist</strong><br />BPsych, MClinPsych (Hons.)</p>

                                                      <p>Member of <strong style="">The Hong Kong Psychological Society, Psychotherapy Society of Hong Kong</strong>, <strong style="">Soci&eacute;t&eacute; Fran&ccedil;aise de Psychologie</strong>.Certified<strong> Triple P</strong> (Positive Parenting Program&reg; practitioner).</p>

                            <p>A French national originally from Martinique and an expatriate for the past twenty-five years, Maggy has lived in Hong Kong for over ten years. She obtained her Masters degree in Clinical Psychology from <u>Universit&eacute; Paris VIII (France)</u> and her certificate in Hypnotherapy with distinction from the <u>Institut Fran&ccedil;ais d'Hypnose Humaniste et Ericksonienne (Paris, France)</u>. In her practice Maggy aims to relieve painful symptoms and/or emotional experiences in individuals that prevent them from realising their full potential.</p>

                            <p> As a Certified <strong style=""><a style="" title="" href="http://www.newstatepsychology.com/positive-parenting.html">Triple P</a></strong> (Positive Parenting Program&reg;)  practitioner, Maggy offers tailor-made interventions directed at parents  of typically developing children as well as Special Needs children in  seminars, groups or individual sessions. Lastly, Maggy is also an author whose article "Exploratory study of a scale of emotional state for children with intellectual and multiple disabilities" is currently in  press, to be published in the <em style="">Child and Family Behavior Therapy Journal</em>.</p>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">

                    <h1>Contact</h1>
            <br>
            <br>
            </div>
            <div class="row">
                              <div class="col-md-6">
                                   <!-- google map -->
                                    <div class="map-canvas">
                                    <iframe
                                    width="350"
                                    height="350"
                                    src="http://maps.google.co.uk/maps?q=asia standard tower + central +hong kong&amp;output=embed"></iframe>
                                    </div>
                                   <!-- END: google map -->
                              </div>
                              <div class="col-md-6">
                                <div class="paragraph" style="text-align:left;">
                                  <p>Maggy receives adolescents, adults and couples in individual or group consultations from <strong>Monday to Friday from 8AM to 6PM</strong> and on <strong>Saturday from 9AM to 12PM </strong>at the following address<strong>:<br></strong><br>Rm 1300 Asia Standard Tower <br>59-65 Queen's Road Central<br><strong>Tel: 2523 8044</strong><br><br>Mon-Fri: 8AM-6PM<br>Sat: 9 AM-12PM<br>
                                  </p>
                                    <br>
                                    <br>
                                    <a href='mailto:maggy.dalmat@newstatepsychology.com' target='_blank'>email: maggy.dalmat@newstatepsychology.com</a>
                                  </div>
                              </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </section>
  </body>
</html>
